extends layout

block content
    div.container(style='font-size: 0.8em;')
        h1(style='font-size: 1.2em;')= title
        each week in weeks
            if week.number == currentWeek
                h2(id='week-' + week.number, style='font-size: 2em; margin-top: 10px; background-color: #00ccff; padding: 10px; border: 1px solid #ccc; border-radius: 5px;') Week #{week.number} - #{week.year} (Current Week)
            else
                h2(id='week-' + week.number, style='font-size: 2em; margin-top: 10px; background-color: #f0f0f0; padding: 10px; border: 1px solid #ccc; border-radius: 5px;') Week #{week.number} - #{week.year}
            div(style='border: 1px solid #ccc; padding: 5px; margin-bottom: 10px;')
            table(style='width: 100%; border-collapse: collapse;')

                tbody
                    each day in week.days
                        tr(style='border-bottom: 1px solid #ccc;')
                            td= day.date
                            if day.workHours > 0
                                td Role: #{day.role}
                                td Department: #{day.department}
                                td Location: #{day.location}
                                td Hours: #{day.startTime} - #{day.endTime} (#{day.workHours})
                                td
                                    if day.released
                                        form.action-buttons(method='post', action=`/toggle-shift/${day.id}`)
                                            button.btn(type='submit') Claim shift
                                    else
                                        form.action-buttons(method='post', action=`/toggle-shift/${day.id}`)
                                            button.btn(type='submit') Release Shift
                            else
                                td(colspan='5') No work scheduled 
                                
    script.
        window.addEventListener('DOMContentLoaded', (event) => {
            console.log('DOM fully loaded and parsed');
            console.log(#{currentWeek});

            const currentWeekElement = document.getElementById('week-' + #{currentWeek});
            if (currentWeekElement) {
                const offset = 150; // Adjust this value to your needs
                const elementPosition = currentWeekElement.getBoundingClientRect().top + window.pageYOffset;
                const offsetPosition = elementPosition - offset;

                window.scrollTo({
                    top: offsetPosition,
                    behavior: "smooth"
                });
            }
        });