extends layout

block content
  style.
    .container {
      font-size: 0.8em;
    }
    h1 {
      font-size: 1.2em;
    }
    h2 {
      font-size: 2em;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .current-week {
      background-color: #00ccff;
    }
    .other-week {
      background-color: #f0f0f0;
    }
    .week-container {
      border: 1px solid #ccc;
      padding: 5px;
      margin-bottom: 10px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    tr {
      border-bottom: 1px solid #ccc;
      height: 30px;
    }

  div.container
    h1= title
    each week in weeks
      h2(id='week-' + week.number, class=(week.number == currentWeek ? 'current-week' : 'other-week')) Week #{week.number} - #{week.year} #{week.number == currentWeek ? '(Current Week)' : ''}
      div.week-container
        table
          tbody
            each day in week.days
              tr
                td= day.date
                if day.workHours > 0
                  td Role: #{day.role}
                  td Department: #{day.department}
                  td Location: #{day.location}
                  td Hours: #{day.startTime} - #{day.endTime} (#{day.workHours})
                  td
                    form.action-buttons(method='post', action=`/toggle-shift/${day.id}`)
                      button.btn(type='submit') #{day.released ? 'Claim shift' : 'Release Shift'}
                else
                  td(colspan='5') No work scheduled 
                td
                  - var date = typeof day.date === 'string' ? new Date(day.date) : day.date
                  - var formattedDate = moment(date).format('dddd D. MMMM YYYY')
                  form.action-buttons(method='post', action='/request-vacation/' + formattedDate)
                    - var dayDateString = moment(date).format('YYYY-MM-DDT00:00:00.000+00:00')
                    - var isVacationDay = user.vacationDays.some(vacationDay => vacationDay[1] === dayDateString);
                    button.btn(type='submit') #{isVacationDay ? 'Cancel Vacation Request' : 'Request Vacation'}
  script.
    function formatDate(date) {
      return moment(typeof date === 'string' ? new Date(date) : date).format('dddd D. MMMM YYYY');
    }

    window.addEventListener('DOMContentLoaded', (event) => {
      const currentWeekElement = document.getElementById('week-' + #{currentWeek});
      if (currentWeekElement) {
        const offset = 100; // Adjust this value to your needs
        const elementPosition = currentWeekElement.getBoundingClientRect().top + window.pageYOffset;
        const offsetPosition = elementPosition - offset;

        window.scrollTo({
          top: offsetPosition,
          behavior: "smooth"
        });
      }
    });